
<!-- This is the home page of the website -->


<div class="masthead bg-light text-center shadow m-0">
  <hr>
  <p class="fs-6 fw-bold">The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925. The Club holds monthly meetings at the Mill Restaurant (185 West Boylston St., West Boylston, MA) with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult, and children's Christmas parties. Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>
</div>
