
<!-- This is the home page of the website -->
<div style="transform: translate(0, -9rem)">
        <div class="row position-relative" id="banner">

            <div class="image-over align-middle"> <%= image_tag "hcwLogo_maybe.png", class:"img-fluid" %> </div>
            
            <h1 class="masthead-heading text-uppercase mb-0 text-over"> Harmony Club of Worcester </h1>

            <div class="col">
            <%= image_tag("wavingFlagAmerican.gif", class: "img-fluid", style:"height:95%") %>
            </div>

            <div class="col">
            <%= image_tag("wavingFlagFrench.gif", class: "img-fluid w-75") %>
            </div>

            <div class="col">
            <%= image_tag("wavingFlagCanadian.gif", class: "img-fluid h-100") %>
            </div>
        </div>

        <div class="container pb-2 bg-light w-50">
            <div class="masthead bg-light text-center shadow m-0">
            <h3> Text </h3>
            <hr>
            <p class="fs-6 fw-bold">The Harmony Club of Worcester, Massachusetts is a fraternal organization of men and women of French descent that was organized in 1925. The Club holds monthly meetings at the Mill Restaurant (185 West Boylston St., West Boylston, MA) with guest speakers. The Club also sponsors other cultural/social/sport events, tours, adult, and children's Christmas parties. Members can participate in our golf league that takes place at Bed Rock Golf Club in Rutland, MA.</p>

            <p class="fs-6 fw-bold">Our major fund raiser is our "Bob Picard Memorial Golf Tournament" that is held at the Blissful Meadows Golf Club in Uxbridge MA. every September. The proceeds from this tournament are the sole funding of the scholarship and civic awards.</p>
            </div>
        </div>
</div>
<!-- end -->